header {
	display: flex;
    position: fixed;
    background: rgb(245, 246, 250);
    width: 100%;
    top: 0px;
    height: 50px;
    align-items: center;
    justify-content: flex-end;
    z-index: 100;
}

header img {
	height: 30px;
    margin: 0px 10px;
}

aside {
	width: 22%;
    position: fixed;
    background: rgb(51, 55, 107);
    color: white;
    z-index: 1000;
    top: 0px;
    height: 100vh;
    overflow: auto;
}

aside .logo {
	width: 60%;
    display: block;
    margin: 25px auto;
}

aside .menu-item {
	display: flex;
    border-radius: 7px;
    align-items: center;
    padding: 10px 20px;
    margin: 3px 10px;
}

aside .menu-item.active {
	background-color: rgb(56 75 255 / 22%);
    color: #60b6fb;
}

aside .menu-item img {
	width: 23px;
}

aside .menu-item span {
	margin-left: 20px;
    font-size: 13px;
    text-transform: uppercase;
}


aside .menu-collapse {
    height: 0px;
    overflow: hidden;
    transition: .5s;
}

aside .menu-collapse a {
    display: block;
    padding: 10px 20px;
    font-size: 13px;
    margin: 3px 10px;
    text-transform: uppercase;
    border-radius: 7px;
    padding-left: 63px;
    cursor: pointer;
}

aside .menu-collapse a:nth-child(1) {
    display: none;
}

.body {
	width: 78%;
    position: fixed;
    right: 0px;
    top: 50px;
    bottom: 0px;
    background: rgb(245, 246, 250);
    box-sizing: border-box;
    padding: 20px;
    overflow: auto;
}

.card-thumb {
	background: white;
    border-radius: 10px;
    margin: 10px;
    padding: 20px 15px;
    justify-content: space-between;
    height: 130px;
    box-sizing: border-box;
}

.card-thumb img {
    width: 90px;
    margin: auto;
}

.card-thumb .content {
	width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.card-thumb .content .value {
	font-size: 40px;
    font-weight: bold;
}

.card-thumb .content .description {
	font-size: 15px;
    color: silver;
}

h3.title-section {
	font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 10px;
}

.card-item {
	background: white;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-right: 20px;
}

.card-item .number {
	color: white;
    height: 30px;
    width: 30px;
    background: rgb(96, 182, 251);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 17px;
    font-weight: bold;
    margin-right: 10px;
}

.card-item .preview , .card-item .profile {
	border-radius: 50%;
    width: 70px;
    height: 70px;
    background: rgb(96, 182, 251);
    margin: 0px 10px;
}

.card-item .profile {
    border-radius: 50%;
}

.card-item .content {
	width: 70%;
}

.card-item .content .title {
	font-size: 15px;
    margin-bottom: 5px;
}

.card-item .content .data {
	justify-content: flex-start;
}

.card-item .content .data div {
    display: flex;
    align-items: center;
    margin-right: 50px;
}

.card-item .content .data div img {
	width: 20px;
    margin-right: 10px;
}

.card-item .content .data div span {
	color: rgb(96, 182, 251);
    font-size: 12px;
}

.card-item .content .data.row span , .card-item .total .value {
    color: silver;
    padding: 5px 10px;
    border-radius: 3px;
    border: 1px solid silver;
    display: inline-block;
    margin-right: 10px;
}

.card-item .total p {
    margin-bottom: 5px;
    color: silver;
}


.card-earning {
    background: white;
    border-radius: 10px;
    padding: 50px 10px;
    margin: 0px 20px;
    text-align: center;
}

.card-earning img {
    width: 120px;
}

.card-earning h2 {
    font-size: 44px;
}

.card-earning p {
    width: 80%;
    margin: 10px auto;
    font-size: 14px;
    color: silver;
}

.card-file {
    background: white;
    border-radius: 10px;
    padding: 20px;
    margin: 0px 15px;
}

.card-file .item {
    width: 45%;
    height: 150px;
    margin: 10px auto;
    text-align: center;
    color: white;
    box-sizing: border-box;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-size: cover;
}

.card-file .item h4 {
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-file .item p {
    font-size: 17px;
}