.card-banner {
    background-image: url(/assets/landing/illustrations/background_contributor.svg);
    color: white;
    margin: 20px 10px;
    border-radius: 10px;
    padding: 15px;
}

.card-banner .col:nth-child(1) {text-align: center;}

.card-banner .col button {
    display: block;
    margin: 10px auto;
    padding: 10px 15px;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Montserrat' , 'Arial' , sans-serif;
    background: #60b6fb;
    color: white;
    border-radius: 3px;
}


.card-cart {
	background: white;
    padding: 20px;
    text-align: center;
    line-height: 22px;
    border-radius: 10px;
}

.card-cart p {
	width: 80%;
    margin: auto;
}

.card-cart-small {
    margin: 0px 30px;
    background: white;
    color: rgb(96 182 251);
    padding: 10px 20px;
    border-radius: 10px;
}

.card-cart-small p {
	font-size: 15px;
    display: flex;
    align-items: center;
}

.card-cart-small .col:nth-child(2) {
	display: flex;
    justify-content: flex-end;
    font-weight: bold;
}

.card-cart-small .col button , 
.card-cart-small .col .btn-pay , 
.bank-item a.btn-confirm , 
.payment-confirm button ,
.payment-confirm .btn-back,
.my-item .btn-download,
.my-item .btn-license  {
    font-size: 15px;
    color: white;
    background: rgb(96 182 251);
    font-weight: bold;
    padding: 8px 15px;
    border-radius: 5px;
    display: flex;
    width: 200px;
    justify-content: space-between;
    align-items: center;
}

.card-cart-small .col img {
	height: 25px;
    width: 40px;
}

.cart-list-item {
	margin: 20px 30px;
}

.cart-list-item.payment-cart {
    margin: 10px;
}

.cart-list-item.payment-cart .cart-item {
    align-items: flex-start;
}

.cart-list-item.payment-cart .cart-item img {
    width: 35%;
    margin-right: 10px;
}

.cart-list-item.payment-cart .cart-item p.cost {
    color: #a8afcf;
    font-size: 15px;
    margin-top: 5px;
}

.cart-list-item button {
    background: transparent;
    outline: none;
}

.cart-item {
	display: flex;
	align-items: center;
	justify-content: space-between;
    padding: 15px;
    background: white;
    border-radius: 10px;
    margin: 15px auto;
}	

.cart-item img {
    border-radius: 5px;
    width: 15%;
}

.cart-item .description {
	width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cart-item .description p {
	font-size: 18px;
}

.cart-item .description .row {
	justify-content: space-between;
}

.cart-item .description .row img {
	width: 30px;
    margin: 0px;
    cursor: pointer;
}

.card-form {
    background: white;
    margin-right: 30px;
    box-sizing: border-box;
    padding: 15px 8px;
    border-radius: 10px;
}

.card-form .form-control {
    width: 85%;
    border-radius: 5px;
}

.card-form button {
    color: white;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 15px;
    margin: auto;
}

.card-form .btn-save {
    background: #60b6fb;
    margin: 10px auto;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    margin: 15px 10px;
}

.card-profile .profile {
    width: 70%;
    margin: 10px auto;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-profile h2 {
    font-weight: bold;
    margin-top: 20px;
}

.card-profile h3 {
    color: #a8afcc;
    text-align: center;
    margin-top: -5px;
    font-size: 14px;
    text-transform: inherit;
}

.card.list-data h1.value {
    font-size: 50px;
    font-weight: bold;
    margin: 10px auto;
}

.card.list-data h4.key {
    font-size: 17px;
    color: #a8afcc;
}

.card.biodata .row {
    margin: 10px auto;
}

.card.biodata .row .col-2 , .card.biodata .row .col {
    font-size: 15px;
}

.card.biodata .row .col-2 {
    color: #a8afcf;
}

.card.buy {
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #60b6fb;
}


.data-member .row {
    line-height: 23px;
}

.data-member .col , .data-member .col-2 , .info-profile.card p {
    font-size: 13px;
}

.data-member .col-2{
    color: #a8afcf;
}

.card.bank-item {
    padding: 8px 20px;
}

.bank-item h4 {
    font-size: 18px;
    font-weight: bold;
    margin: 5px auto;
}

.bank-item p {
    font-size: 15px;
}

.bank-item a.btn-confirm , .payment-confirm button , .payment-confirm .btn-back {
    width: fit-content;
    display: inline-block;
}

.payment-confirm .form-group {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.payment-confirm .form-group label {
    width: 25%;
}

.payment-confirm .form-group input {
    width: 75%;
    border: 1px solid silver;
    width: 70%;
    border-radius: 5px;
    color: rgb(151, 156, 175);
}

.payment-confirm .form-group input[disabled] {
    border: none;
    width: 70%;
    background: rgb(245, 246, 250);
    border-radius: 5px;
    color: rgb(151, 156, 175);
}

.payment-confirm .btn-back {
    background: white;
    border: 2px solid rgb(96 182 251);
    color: rgb(96 182 251);
    transition: .4s;
}

.payment-confirm .btn-back:hover {
    background: rgb(96 182 251 / 19%);
}


.item-thumbnail {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    overflow: hidden;
    background: white;
    border-radius: 5px;
    transition: .5s;
    box-shadow: 2px 2px 4px silver;
}

.item-thumbnail:hover {
    opacity: .8;
    transform: translateY(3px);
    box-shadow: .5px .5px 2px silver;
}


.my-item {
    justify-content: space-between;
}

.my-item .data {
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: flex-start;
}

.my-item img {
    width: 100px;
    margin-right: 15px;
}

.my-item a.title {
    font-size: 18px;
    font-weight: bold;
    margin: 0px auto;
    transition: .1s;
}

.my-item a.title:hover {
    opacity: .7;
}

.my-item h5 {
    font-size: 13px;
    margin-top: 0px;
    color: #a8afcf;
}

.my-item .price {
    color: rgb(255, 191, 68);
    font-size: 17px;
}

.my-item .btn {
    width: fit-content;
    display: inline-block;
}

.my-item .btn.btn-download {
    background: #4bd0d0;
}


.card-payment {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.card-payment .row.mr-3 {
    width: 40%;
    justify-content: flex-start;
}

.card-payment .number {
    margin-right: 15px;
}

.card-payment .content h4 {
    font-size: 17px;
}

.card-payment .content p {
    color: #a8afcf;
}

.card-payment .total {
    align-items: center;
    color: #ffbb38;
    font-size: 18px;
    width: 30%;
    justify-content: flex-start;
}

.card-payment .badge {
    width: 30%;
    text-align: right;
}

.card-payment .badge span , .card-payment .badge a {
    display: inline-block;
    padding: 8px 12px;
    border-radius: 5px;
    font-size: 16px;
    text-transform: uppercase;
}

.card-payment .badge span.waiting {
    background: #ffbb383b;
    border: 2px solid #ffbb38;
    color: #ffbb38;
}

.card-payment .badge span.accept {
    background: #60b6fb33;
    border: 2px solid #60b6fb;
    color: #60b6fb;
}

.card-payment .badge a {
    background: #16dbcc;
    border: 2px solid #16dbcc;
    color: white;
}